
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  color: #fff;
  background-image: linear-gradient( 45deg, #221b36, #110e1b, #332952, #44366d, #554488, #7769a0, #998fb8, #bbb4cf, #dddae7);
  animation: gradientAnimation 5s ease infinite;
  background-size: 400% 400%;
}